# Collections

## Tuples
<br>

In [15]:
my_tuple = ("John", "Andrew", "Mark")
print(my_tuple[:2])
name1, name2, name3 = my_tuple
print(name1)
name1, *name2 = my_tuple
print(name2)

('John', 'Andrew')
John
['Andrew', 'Mark']

In [16]:
name1, name2 = my_tuple[0:2]
print(name1, name2)

John Andrew

In [14]:
for name in my_tuple:
    print(name)
if 'John' in my_tuple:
    print('Found')

print(my_tuple.count("Andrew"))
print(my_tuple.index("Andrew"))

John
Andrew
Mark
Found
1
1

## Lists
<br>

In [29]:
L = ["Max", "Doe", 42]
L

['Max', 'Doe', 42]

In [30]:
L.append("Polimi")
print(L)
L.remove('Polimi')

['Max', 'Doe', 42, 'Polimi']

In [31]:
L.insert(2, 'Unimi')
L

['Max', 'Doe', 'Unimi', 42]

In [33]:
L.pop()

42

In [34]:
del L[2]

In [35]:
L

['Max', 'Doe']

In [38]:
L2 = L.copy()
L2

['Max', 'Doe']

In [39]:
id(L) == id(L2)

False

In [50]:
L1 = [1, 2, 3]
L2 = [3, 4, 5]
L = L1 + L2
L

[1, 2, 3, 3, 4, 5]

In [43]:
for el in L2:
    L1.append(el)
L1

[1, 2, 3, 3, 4, 5]

In [45]:
L1 = [1, 2, 3]
L1.extend(L2)
L1

[1, 2, 3, 3, 4, 5]

In [46]:
L1.count(3)

2

In [51]:
L.pop(1)
L.remove(4)
L

[1, 3, 3, 5]

In [53]:
L.reverse()
L

[5, 3, 3, 1]

## Sets
<br>

In [54]:
se = {"A", "B", "C"}

In [56]:
for e in se:
    print(e)

C
B
A

In [57]:
if "A" in se:
    print("Found")

Found

In [60]:
se.add("D")
se.add("C")
se

{'A', 'B', 'C', 'D'}

In [61]:
se.remove("D")

In [63]:
if "D" in se:
    se.remove("D")

In [69]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set3 = set1.union(set2)
print(set3)

set3 = set1.intersection(set2)
print(set3)

set3 = set1.difference(set2)
print(set3)

set3 = set1.symmetric_difference(set2)
print(set3)

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}
{1, 2, 3, 4, 5}

### Exercise
Build the two sets of numbers in the range (0, 20) that are:<br>
* multiple of 3<br>
* multiple of 4

Then, by using set methods, find:<br>
* Numbers that are multiple of 3 OR 4<br>
* Numbers that are multiple of 3 AND 4<br>
* Numbers that are multiple of 3 AND NOT 4<br>
* Numbers that are multiple of 3 XOR 4<br>

In [89]:
# Building the two sets
s3 = set()
s4 = set()
for n in range(1, 21):
    if n % 3 == 0:
        s3.add(n)
    if n % 4 == 0:
        s4.add(n)
print("Multiples of 3:", s3)
print("Multiples of 4:", s4)
print()
# Numbers that are multiple of 3 OR 4
print("Numbers that are multiple of 3 OR 4: ", s3.union(s4))

# Numbers that are multiple of 3 AND 4
print("Numbers that are multiple of 3 AND 4: ", s3.intersection(s4))

# Numbers that are multiple of 3 AND NOT 4
print("Numbers that are multiple of 3 AND NOT 4: ", s3.difference(s4))

# Numbers that are multiple of 3 XOR 4
print("Numbers that are multiple of 3 XOR 4: ", s3.symmetric_difference(s4))

Multiples of 3: {3, 6, 9, 12, 15, 18}
Multiples of 4: {4, 8, 12, 16, 20}

Numbers that are multiple of 3 OR 4:  {3, 4, 6, 8, 9, 12, 15, 16, 18, 20}
Numbers that are multiple of 3 AND 4:  {12}
Numbers that are multiple of 3 AND NOT 4:  {3, 6, 9, 15, 18}
Numbers that are multiple of 3 XOR 4:  {3, 4, 6, 8, 9, 15, 16, 18, 20}

## Dictionaries
<br>

In [96]:
name2mark = {
    "Joe" : 30,
    "Averell" : 22,
    "Jack" : 27
}

In [97]:
name2mark["Joe"]

30

In [106]:
l = [1, 2, 1, 0, 1, 3, 1, 1, 2]
counter = {}
for n in sorted(l):
    if n in counter.keys():
        counter[n] += 1
    else:
        counter[n] = 1

for key in counter:
    print(key, ":", counter[key])

0 : 1
1 : 5
2 : 2
3 : 1

In [110]:
my_dict = {
    "Joe" : "Outlaw",
    "Averell" : "Outlaw",
    "Jack" : "Cowboy"
}

print(my_dict["Jack"])
my_dict["Jack"] = "Outlaw"
print(my_dict["Jack"])

Cowboy
Outlaw

In [112]:
for i in my_dict.keys():
    print(i)

Joe
Averell
Jack

In [113]:
for i in my_dict.values():
    print(i)

Outlaw
Outlaw
Outlaw

In [114]:
for k, v in my_dict.items():
    print(k, v)

Joe Outlaw
Averell Outlaw
Jack Outlaw

In [115]:
print(my_dict.items())

dict_items([('Joe', 'Outlaw'), ('Averell', 'Outlaw'), ('Jack', 'Outlaw')])

In [118]:
my_dict["Kate"] = "Student"
print(my_dict)

{'Joe': 'Outlaw', 'Averell': 'Outlaw', 'Jack': 'Outlaw', 'Kate': 'Student'}

### Exercise
Consider a piece of text:<br>
"She was young the way an actual young person is young"<br>
First represent it as a list of words;<br>
Then, using a dictionary provide an answer to the following questions:<br>
* How many distinct words are present in the text?<br>
* What is the most frequent word and how many times does it appear?

In [125]:
s = "She was young the way an actual young person is young the the"

# list of words
l = s.split()
print(l)

# create a "histogram" dictionary
mydict = {}
for word in l:
    if word in mydict.keys():
        mydict[word] += 1
    else:
        mydict[word] = 1

print()
# How many distinct words are present in the text?
print("In the text there are", len(mydict), "words")

print()
# What is the most frequent word and how many times does it appear?
currMax_value = 0
currMax_word = None
for k, v in mydict.items():
    if v > currMax_value:
        currMax_value = v
        currMax_word = k
print("The most frequent word is", currMax_word, "and it appears", currMax_value, "times")
# OR
curr_max = max(mydict.values())
for k, v in mydict.items():
    if v == curr_max:
        print("The most frequent word is", k, "and it appears", v, "times")

['She', 'was', 'young', 'the', 'way', 'an', 'actual', 'young', 'person', 'is', 'young', 'the', 'the']

In the text there are 9 words

The most frequent word is young and it appears 3 times
The most frequent word is young and it appears 3 times
The most frequent word is the and it appears 3 times